.video__list__items{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    
}

.video__list__item{
    display: flex;
    align-items: center;
    height: 100px;
    margin-bottom: 10px; 
    width: 100%;
    
}

.video__list__item > img{
    cursor: pointer;
    margin-right: 20px;
    height: 100%;
}

.video_data{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
}

.video_data > iframe{
    height: 70%;
}


.video__details{
    padding: 7px;
}